<div class = "video_page">
<div class = "atama"><h1>動画詳細・コメントページ</h1></div>

  <div class="show_container">
    <div class="video_show">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/>
      <%= find_youtube_url(@video.youtube_url) %>
       " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <div class="detail">
      <p><%= @video.title %></p>
      <%= link_to "編集する", edit_video_path(@video.id) %>
      <div class="detail1">
        <p><%= @video.comment %></p>
        <p><%= @video.created_at %></p>
        <% if user_signed_in? %>
          <% if current_user.already_liked?(@video) %>
          <%= link_to video_like_path(@video), method: :delete do %>
            <i class="fas fa-heart"></i><%= @video.likes.count %>
            <% end %>
        <% else %>
            <%= link_to video_likes_path(@video), method: :post do %>
            <i class="far fa-heart"></i><%= @video.likes.count %>
            <% end %>
          <% end %>
        <% else %>
      <i class="far fa-heart"></i><%= @video.likes.count %>
        <% end %>
      
      </div>
    </div>

    
  </div>


<h2>いいねしたユーザー</h2>
<% @video.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<div class="comment-wrapper">
  <h2>コメント一覧<h2>
  <% @comments.each do |c| %>
    <div>
      <div class="namae"><%= c.user.email unless c.user.blank? %></div>
      <br>
      <div class="comment"><%= c.content %></div>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@video, @comment], local: true) do |f| %>
      <textarea cols="40" rows="10"></textarea>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
  <div class="toppage">
  <%= link_to "Video一覧に戻る", videos_path %>
  </div>
</div>
</div>