<div class="top">
    <div class="loop02">
      <ul class="loop02__box">
        <li class="loop02__item"><a href="#"><%= image_tag 'nogizaka_musicday.jpg', class:'nogizaka'%></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag 'hinatazaka.jpg', class:'hinatazaka'%></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag 'Sakurazaka46_6th Single_start over!_AP_S.jpg',class:'sakurazaka'%></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag 'lovephoto_future_main02.jpg' %></a></li>
      </ul>
      <ul class="loop02__box">
        <li class="loop02__item"><a href="#"><%= image_tag 'nogizaka_musicday.jpg', class:'nogizaka' %></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag 'hinatazaka.jpg', class:'hinatazaka'%></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag 'Sakurazaka46_6th Single_start over!_AP_S.jpg' ,class:'sakurazaka'%></a></li>
        <li class="loop02__item"><a href="#"><%= image_tag 'lovephoto_future_main02.jpg' %></a></li>
      </ul>
    </div>

  
  <div class="container">
    <a href="videos#index" class="btn btn--yellow btn--cubic">動画投稿一覧へ！</a>
    <a href="photos#index" class="btn btn--yellow btn--cubic">画像投稿一覧へ！</a>
    <a href="events#index" class="btn btn--yellow btn--cubic">イベント投稿一覧へ！</a>
  </div>
</div>