<div class="event_page">
<div class="eventtoukou"><h2>イベント投稿一覧ページ</h2></div>
<div class="submitt">
<%= link_to "イベントを紹介する！", new_event_path ,class:"submittt"%></div>
  <div class="events-container">
    <% @events.each do |t| %>
      <div class="event">
        <div class="eventdetail">
          <%= link_to t.user.name, user_path(t.user.id) %>
          <p><%= t.title %></p>
          <%= t.idea %>
        </div>
        <% if user_signed_in? %>
        <% if current_user.already_captured?(t) %>
            <%= link_to event_capture_path(id: t.id, event_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.captures.count %>
            <% end %>
        <% else %>
            <%= link_to event_captures_path(id: t.id, event_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.captures.count %>
           <% end %>
        <% end %>
    <% else %>
    <i class="far fa-heart"></i><%= t.captures.count %>
    <% end %>
        <%= link_to "詳細・コメントページへ", event_path(t.id) %>
        <% if user_signed_in? && current_user.id == t.user_id %>
        <%= link_to "編集する", edit_event_path(t.id) %>
        
        <% end %> 
      </div> 
      </div>
      
    <% end %>
  </div>
</div>