<div class="DMpage">
    <div class="uee"><h1>ダイレクトメッセージ</h1></div>

<div class="user-in">
<% @entries.each do |e| %>
    <h3><strong><a href="/users/<%= e.user.id %>"><%= e.user.email%>さん</a></strong></h3>
<% end %>
</div>

<div class="dmMain">
    <% @messages.each do |m| %>
        <strong><%= m.body %></strong>
        <small><%= m.user.email %>さん</small><hr>
    <% end %>

    <%= form_for @message do |f| %>
    <%= f.text_field :body, :placeholder => "メッセージを入力して下さい" , :size => 90 %>
    <%= f.hidden_field :room_id, :value => @room.id %>
    <br>
    <div class="sousin">
        <%= f.submit "送信する" %>
    </div>
    <% end %>
</div>
    <div class="mae">
        <%= link_to "投稿一覧に戻る", events_path %>
    </div>


<style>
.user-in{
    text-align:center;
    border:1px solid darkgray;
    background-color:gainsboro;
}
.dmMain{
    padding:30px;
    border:1px solid darkgray;
    background-color:gainsboro;
}
</style>
</div>